syntax: glob

layouts
[Bb]in/
[Oo]bj/
src/bflat/[Nn]u[Gg]et.config
launchSettings.json
.vs/
msbuild.binlog
._*
/src/bflat/modules/*/*.o
.DS_Store
/.old
/src/bflat/modules/ugc-zero/src
/src/bflat/modules/ugc-zero/release
/src/packages
